body {
    background-color: #dddddd;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

.content {
    list-style-type: none;

}

.content-links {
    text-align: center;
    text-decoration: none;
}

.nav-list {
    float: left;
}

.nav-links {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8A9A5B;
}

.page-title {
    text-align: center;
}

p {
    font-size: larger;
}